<!DOCTYPE html lang="en-us">
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Hangperson</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Play Hangperson!</h1>
      <h4 class="intro" style="text-align:left;margin-left:650px" >Thank you for visiting my page<br>
                                                    This is Lei, looking for a co-op position based in Ottawa starting in 2020 Fall </h4><br>
                                                    This web app is inspired by the book<br> 
                                                    <a href="https://drive.google.com/file/d/1j513EVk7BsV3nOYWMdb21JvN0NIbX9-Z/view">
                                                      Engineering Software As a Service: An Agile Approach Using Cloud Computing</a><br>
                                                    
     
      
      <p class="lead">Random word generator provided by Watchout4snakes.com</p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</div>
</body>
</html>
